/*----- checkbox -----*/
/*-----http://codersblock.com/blog/checkbox-trickery-with-css/-----*/

input {
	display:inline;
}

input[type="checkbox"]  {
	display:inline;
	clear:both;
	position: relative;
	left: 0;
	padding: 10px 30px 10px 20px;
	z-index: 2;	
}

input[type="button"]  {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: rgba(0, 0, 0, 0); 
}


.draggable { 
	font-size: 13px;
	position: relative;
	padding: 5px 20px 5px 10px;
	cursor: move;
	text-align: left;
	border-top-style: white;
    border-right-style: none;
    border-bottom-style: white;
    border-left-style: none;
	height: auto;
	width: 100%;
	border: 0.5px solid #fff;
	z-index: 1;	
	background-color: rgba(0, 0, 0, 0);
	overflow-y: none;	
}

.checkedBackground{
	position: relative;
	padding: 5px 20px 5px 10px;
	margin: -5px -20px -5px -10px;
    background-color: rgba(0, 0, 0, 0); 
	border-top-style: white;
    border-bottom-style: white;	

	font-style: italic;
}

.draggable:hover {
	z-index: 150;	
	box-shadow: 0 0 25px rgba(0, 0, 0, .6);
	border: 1px solid rgba(255, 255, 255, 1);		
}

.info {
	position:absolute;
	top:5px;
	right:30px;
	background-color: rgba(0, 0, 0, 0);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: rgba(0, 0, 0, 0); 
}

.trans {
	position:absolute;
	top:5px;
	right:10px;
	background-color: rgba(0, 0, 0, 0);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: rgba(0, 0, 0, 0); 
}


