/*----- Tabs -----*/
/*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/
/*http://geryit.com/blog/pure-css3-custom-scrollbars/*/


.opy{
	display: none; /* Hide button */
	position: relative;
	padding: 5px 0px;
	overflow:hidden;
	line-height: 10px;
	margin: 0px;
  	border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;	
}

.slider {
	padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;	
	float: right;	
  	border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
	margin: -15px;
}

#slider_Bar {
	display: none;	
	padding: 10px 0px 5px 0px;
}


input[type=range] {
  -webkit-appearance: none;
}


/* Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;

}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  width: 7px;
  height: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* Chrome */

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	width: 8px;
	height: 14px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -4px;
}


/* General*/
input[type=range]:focus {
  outline: none;
}


