/*----- Tabs -----*/
/*http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 2px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 40px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#ccc;
	font-size:16px;
	font-weight:600;
	color:#000;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

/*----- Content of Tabs -----*/

.tab_active {
	display:block;
}


