head
    title "Land Cover Maps of Europe"
    meta(name="keywords" content=".....")
    meta(name="author" content="Fernando Fahl")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
            
    //- Jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")  
    
    //- Bootstrap (must be before Jquery UI)
    script(src="libs/bootstrap4/tether.min.js")        
    script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js") 
    link(rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
                        
    //- Jquery UI
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js") 
    link(rel="stylesheet" type="text/css" href="libs/jquery-ui-1.11.4/jquery-ui.min.css")
    link(rel="stylesheet" type="text/css" href="libs/jquery-ui-1.11.4/jquery-ui.theme.min.css")
    
    //Font Awesome CSS
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    // leaflet
    script(src="libs/leaflet_V0.7.7/leaflet.js")   
    link(rel="stylesheet" type="text/css" href="libs/leaflet_V0.7.7/leaflet.css")   

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js")        
    //- link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css")   
    //- 
    
    //- leaflet plugins
    +addPlugin('leaflet-providers-master/leaflet-providers.js')
    
    +addPlugin('sidebar-v2-master/js/leaflet-sidebar.js')
    +addCSS('sidebar-v2-master/css/leaflet-sidebar_CUSTOM.css')        
    
    +addPlugin('Leaflet.ZoomBox-master/L.Control.ZoomBox.min.js')
    +addCSS('Leaflet.ZoomBox-master/L.Control.ZoomBox.css')    
            
    +addPlugin('Leaflet.NavBar-master/src/Leaflet.NavBar.js')
    +addCSS('Leaflet.NavBar-master/src/Leaflet.NavBar.css')
            
    +addPlugin('Leaflet-MiniMap-master/src/Control.MiniMap.js')
    +addCSS('Leaflet-MiniMap-master/src/Control.MiniMap.css')
            
    +addPlugin('leaflet-graphicscale-master/dist/Leaflet.GraphicScale.min.js')
    +addCSS('leaflet-graphicscale-master/dist/Leaflet.GraphicScale.min.css')
            
    +addPlugin('Leaflet-IconLayers-master/src/iconLayers.js')
    +addPlugin('Leaflet-IconLayers-master/src/providers.js')
    +addCSS('Leaflet-IconLayers-master/src/iconLayers.css')        
    
    +addPlugin('Leaflet.TileLegend-master/Leaflet.TileLegend.js')
    +addCSS('Leaflet.TileLegend-master/Leaflet.TileLegend.css')
    
    +addPlugin('erictheise-rrose-77e87f5/rrose-src.js')
    +addCSS('erictheise-rrose-77e87f5/leaflet.rrose.css')
    
    +addPlugin('Leaflet-WFST-master/dist/Leaflet-WFST.min.js')
    
    +addPlugin('Leaflet.ZoomLabel-master/src/L.Control.ZoomLabel.js')   
    
            
    +addPlugin('Services2/layer/tile/Bing.js')        
    +addPlugin('Services2/layer/tile/Google.js')

                    
    // Custom CSS 
    link(rel="stylesheet" type="text/css" href="styles/css/app.css")  
    
