//output:../index.html
include variables
include mixins
include head  
        
body

    .container-fluid

        header
            .logo
                a(href="javascript:void(0)" class="logo")
                    img(src="#{logo}" alt="Logo Image")
                    
            .title 
                h2 #{title}
            .menu                    
                li.nav-item.dropdown 
                    a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Options
                    .dropdown-menu(aria-labelledby="Preview")
                        +link('dropdown-item','#','Dropdown Link 1')
                        +link('dropdown-item','#','Dropdown Link 2')
                        +link('dropdown-item','#','Dropdown Link 3')  
            
        
        .main
            .side
                .pannel
                    <!-- Tabsl -->
                    ul(id="clothing-nav" class="nav nav-tabs" role="tablist")
                        +tabs_bootstrap('nav-item','nav-link active','layers','Layers','true')
                        +tabs_bootstrap('nav-item','nav-link','legend','Legend','false')      
                        +tabs_bootstrap('nav-item','nav-link','info','Metadata','false')                      
                
                    <!-- Content Panel -->
                    #clothing-nav-content.tab-content
                        .tab-pane.fade.in.active(role="tabpanel" id="layers" aria-labelledby="layers-tab"): include layers
                        .tab-pane.fade(role="tabpanel" id="legend" aria-labelledby="legend-tab"): include legend
                        .tab-pane.fade(role="tabpanel" id="info" aria-labelledby="info-tab"): include info
                .settings
                    button.button#expand Expand All
                    button.button#setting Settings
                    
            #map
                    
            
        footer
            p @fernando fahl, 2016


    include scripts
