//- Polimi
- var title = "Land Cover Maps of Europe"
- var logo = "img/logo/logo-polimi-mini.svg"

- var ADM = {NUTS0: 'Country Boundaries'}
- var LULC = {GLC_00: 'Global Land Cover (2000)', Corine_06: 'Corine (2006)', Atlas_06: 'Urban Atlas (2006)', GlobCover_09: 'GlobCover (2009)',MODIS_10: 'MODIS (2010)', CCIESA_10: 'Land Cover CCI (2010)', GLand30_10: 'Global Land Cover 30m (2010)'}
- var custom = {custom_WMS: 'WMS'}

//- JRC
//- - var title = "Geospatial Information for Biomass Resources in the European Union"
//- - var logo = "img/logo/JRC/jrc.svg"




//- - var NUTS0 = 'Country Boundaries'
//- - var GLC_00 = 'Global Land Cover (2000)'
//- - var Corine_06 = 'Corine (2006)'
//- - var Atlas_06 = 'Urban Atlas (2006)'
//- - var GlobCover_09 = 'GlobCover (2009)'
//- - var MODIS_10 = 'MODIS (2010)'
//- - var CCIESA_10 = 'Land Cover CCI (2010)'
//- - var GLand30_10 = 'Global Land Cover 30m (2010)'
//- - var custom_WMS = 'Custom Layer'
//- 
//- - var ADM = ['NUTS0']
//- - var LULC = ['GLC_00', 'Corine_06', 'Atlas_06', 'GlobCover_09', 'MODIS_10', 'CCIESA_10', 'GLand30_10']
//- - var custom = ['custom_WMS']
